.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background-color: var(--body-color);
  color: var(--nav-link-color);
  border: none;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: none;
  min-width: none;
}

.dropdown-menu.open {
  display: block;
  background-color: var(--dropdown-item-bg-color);
  color: var(--dropdown-item-color);
  padding: 0;
  font-size: small;
}

.dropdown-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-list-item {
  padding: 6px 12px;
  cursor: pointer;
}

.dropdown-list-item:hover {
  background-color: var(--dropdown-item-bg-color-hover);
  border-radius: 0.375rem;
}

@media screen and (max-width: 768px) {
  .dropdown-button {
    background-color: var(--body-color);
  }
}
