/*------------------------------ MARGIN --------------------------------*/
.ml--10 {
  margin-left: -10px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-20 {
  margin-right: 10px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-100 {
  margin-top: 100px;
}

/*------------------------------ ANIMATIONS --------------------------------*/

.animate-top {
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.7s;
}
.animate-right {
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 0.7s;
}
.animate-bottom {
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}
.animate-left {
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 0.7s;
}

/*------------------------------ BREAKPOINTS --------------------------------*/

/* md */
@media screen and (max-width: 992px) {
}

/* sm */
@media screen and (max-width: 768px) {
  .hide-sm {
    display: none !important;
  }
  .mt-sm-10 {
    margin-top: 10px;
  }
}

/* xs */
@media screen and (max-width: 576px) {
}

/* xxs */
@media screen and (max-width: 350px) {
}

/*------------------------------ KEYFRAMES --------------------------------*/
@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
