/*------------------------------GOOGLE FONTS--------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*------------------------------VARIABLE CSS--------------------------------*/
:root {
  --hue: 0;
  --sat: 0%;

  --light: #d8dbe0;
  --dark: #28292c;

  --bg-color-light: hsl(var(--hue), var(--sat), 20%);

  --header-height: 3rem;

  /* Font and Typography */
  --body-font: "Poppins", sans-serif;

  /* .5rem = 8px | 1rem = 16px ... */
  --big-font-size: 3.5rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
  --tiny-font-size: 0.625rem;

  /* Font weight */
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /* z index */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

#light {
  /* Colors */
  /* Color mode HSL (hue, saturation, lightness) */

  --color-contrast-dark: #111;
  --color-contrast-light: #fff;

  --nav-link-color: #1f242d;
  --nav-link-color-active: #008c93;

  --text-color: #1f242d;
  --text-color-active: #008c93;

  --body-color: #e6e6e6;
  --container-color: #fff;

  --button-bg-color: #008c93;
  --button-bg-color-active: var(--body-color);
  --button-bg-color-inverted: var(--body-color);
  --button-bg-color-inverted-active: #008c93;

  --button-color: var(--body-color);
  --button-color-active: #008c93;
  --button-color-inverted: #008c93;
  --button-color-inverted-active: var(--body-color);

  --dropdown-item-bg-color: hsl(var(--hue), var(--sat), 98%);
  --dropdown-item-bg-color-hover: hsl(var(--hue), var(--sat), 95%);

  --tab-bg-color: var(--body-color);
  --tab-bg-color-active: #00c6cf;

  --slider-button-bg: #00c6cf;

  --border-primary: #008c93;

  --background-photo: url(../assets/Foto-mia-lightmode.jpg);
  --background-photo-bw: url(../assets/Foto-mia-b&w-lightmode.jpg);
}

#dark {
  /* Colors */
  /* Color mode HSL (hue, saturation, lightness) */

  --color-contrast-dark: #ddd;
  --color-contrast-light: #111;

  --nav-link-color: #e6f4f1;
  --nav-link-color-active: #0ef;

  --text-color: #e6f4f1;
  --text-color-active: #0ef;

  --body-color: #1f242d;
  --container-color: #2a3a52;

  --button-bg-color: #0ef;
  --button-bg-color-active: var(--body-color);
  --button-bg-color-inverted: var(--body-color);
  --button-bg-color-inverted-active: #0ef;

  --button-color: var(--body-color);
  --button-color-active: #0ef;
  --button-color-inverted: #0ef;
  --button-color-inverted-active: var(--body-color);

  --dropdown-item-bg-color: hsl(var(--hue), var(--sat), 2%);
  --dropdown-item-bg-color-hover: hsl(var(--hue), var(--sat), 10%);

  --tab-bg-color: var(--body-color);
  --tab-bg-color-active: #90f8b5;

  --slider-button-bg: #90f8b5;

  --border-primary: #0ef;

  --background-photo: url(../assets/Foto-mia-darkmode.jpg);
  --background-photo-bw: url(../assets/Foto-mia-b&w-darkmode.jpg);
}

/* Responsive typography */
@media screen and (max-width: 992px) {
  :root {
    --big-font-size: 2.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.81rem;
    --smaller-font-size: 0.75rem;
  }
}

/* xs */
@media screen and (max-width: 576px) {
}

/* xxs */
@media screen and (max-width: 350px) {
  :root {
    --big-font-size: 2.25rem;
  }
}
