.home__hello {
  font-size: 1.6em;
  margin-bottom: 0.6rem;
}
.home__title {
  font-size: 2.7em;
  margin-bottom: 0.6rem;
}

.home__hand {
  width: 38px;
  height: 38px;
  margin-left: 0.4rem;
}

.home__subtitle {
  position: relative;
  color: var(--text-color);
  margin-bottom: 1rem;
  font-size: 1.6em;
  font-weight: var(--font-semi-bold);
}

.home__subtitle-2 {
  color: var(--text-color-active);
}

/* .home__subtitle::before {
  content: "";
  position: absolute;
  left: 0;
  top: 1rem;
  width: 70px;
  height: 1px;
  background-color: var(--text-color-active);
} */

.home__description {
  max-width: 400px;
  margin-bottom: 3rem;
}

/*------------------------------ BREAKPOINTS --------------------------------*/

/* md */
@media screen and (max-width: 992px) {
  .home__hand {
    width: 26px;
    height: 26px;
  }
  .home__subtitle {
    margin-bottom: 1rem;
  }
  /* .home__subtitle::before {
    width: 42px;
    top: 0.8rem;
  } */
  .home__description {
    max-width: initial;
    margin-bottom: 2.5rem;
  }
}

/* sm */
@media screen and (max-width: 768px) {
  .home__title {
    margin-top: 20px;
  }
  .home__data {
    grid-column: 1/3;
  }
}

/* xs */
@media screen and (max-width: 576px) {
}

/* xxs */
@media screen and (max-width: 350px) {
  .home__hand {
    width: 22px;
    height: 22px;
  }
}
