/*------------------------------BASE--------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

#light {
  background-color: var(--light);
  color: var(--text-color);
}

#dark {
  background-color: var(--dark);
  color: var(--text-color);
}

h1,
h2,
h3 {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

ul {
  list-style: none;
  margin: 0 !important;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*------------------------------Reusable CSS Clases--------------------------------*/
.section {
  padding: 6rem 0 2rem;
}
.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 4rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}

/*------------------------------ LAYOUT --------------------------------*/
.container {
  max-width: 968px;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
}

.grid {
  display: grid;
  /* gap: 1.5rem; */
}

/*------------------------------ BUTTONS --------------------------------*/
.button {
  display: inline;
  padding: 1.25rem 2rem;
  border-radius: 1rem;
  font-weight: var(--font-medium);
}
#light .button {
  background-color: var(--button-bg-color);
  color: var(--button-color);
}
#dark .button {
  background-color: var(--button-bg-color);
  color: var(--button-color);
}

#light .button:hover {
  background-color: var(--button-bg-color-active);
}
#dark .button:hover {
  background-color: var(--button-bg-color-active);
}

.button__icon {
  margin-left: 0.5rem;
}
.button--flex {
  display: inline-flex;
  align-items: center;
}

/*------------------------------ BREAKPOINTS --------------------------------*/

/* md */
@media screen and (max-width: 992px) {
  .container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .button {
    padding: 1rem 1.75rem;
  }
  .button__icon {
    width: 22px;
    height: 22px;
  }
}

/* sm */
@media screen and (max-width: 768px) {
  body {
    margin: 0 0 var(--header-height) 0;
  }

  .section {
    padding: 2rem 0 4rem;
  }
  .section__subtitle {
    margin-bottom: 3rem;
  }
}

/* xs */
@media screen and (max-width: 576px) {
}

/* xxs */
@media screen and (max-width: 350px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
