/*------------------------------BASE--------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

#light {
  background-color: var(--light);
  color: var(--text-color-light);
}

#dark {
  background-color: var(--dark);
  color: var(--text-color-dark);
}

h1,
h2,
h3 {
  font-weight: var(--font-semi-bold);
}

#light h1,
#light h2,
#light h3 {
  color: var(--title-color-light);
}

#dark h1,
#dark h2,
#dark h3 {
  color: var(--title-color-dark);
}

ul {
  list-style: none;
  margin: 0 !important;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*------------------------------Reusable CSS Clases--------------------------------*/
.section__title {
  font-size: var(--h1-font-size);
}
#light .section__title {
  color: var(--title-color-light);
}
#dark .section__title {
  color: var(--title-color-dark);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 4rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}

/*------------------------------ LAYOUT --------------------------------*/
.container {
  max-width: 968px;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/*------------------------------ BUTTONS --------------------------------*/
.button {
  display: inline;
  padding: 1.25rem 2rem;
  border-radius: 1rem;
  font-weight: var(--font-medium);
}
#light .button {
  background-color: var(--button-bg-color-light);
  color: var(--text-color-dark);
}
#dark .button {
  background-color: var(--button-bg-color-dark);
  color: var(--text-color-light);
}

#light .button:hover {
  background-color: var(--button-bg-color-active-light);
}
#dark .button:hover {
  background-color: var(--button-bg-color-active-dark);
}

.button__icon {
  margin-left: 0.5rem;
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

/*------------------------------ BREAKPOINTS --------------------------------*/

/* md */
@media screen and (max-width: 992px) {
  .container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

/* sm */
@media screen and (max-width: 768px) {
}

/* xs */
@media screen and (max-width: 576px) {
}

/* xxs */
@media screen and (max-width: 350px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
