/*------------------------------ MARGIN --------------------------------*/
.ml--10 {
  margin-left: -10px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-20 {
  margin-right: 10px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-100 {
  margin-top: 100px;
}

/*------------------------------ BREAKPOINTS --------------------------------*/

/* md */
@media screen and (max-width: 992px) {
}

/* sm */
@media screen and (max-width: 768px) {
  .hide-sm {
    display: none !important;
  }
  .mt-sm-10 {
    margin-top: 10px;
  }
}

/* xs */
@media screen and (max-width: 576px) {
}

/* xxs */
@media screen and (max-width: 350px) {
}
